<div class="card w-75">
  <div class="card-body">
    <div class="media">
      {{log model.profile_image}}
      <img height="400px" width="400px" class="mr-3" src={{model.profile_image}} alt="Image">
      <div class="media-body">
        <p class="card-text">
          <b>First Name:</b> {{model.firstname}}<br />
          <b>Last Name:</b> {{model.lastname}}<br />
          <b>Email Address:</b> {{model.email}}<br />
          <b>Contact Number:</b> {{model.contact_number}}<br />
          <b>Alternative Contact Number:</b> {{model.alternative_contact_number}}<br />
          <b>Address:</b> {{model.address}}<br />
          <b>Preferred Method of Contact:</b> {{model.preferred_method_of_contact}}<br />
          <b>Joining Date:</b> {{moment-format model.joining_date "DD-MM-YYYY"}}<br />
          <b>Branch:</b> {{model.branch.name}}<br />
        </p>
      </div>
    </div>
  </div>
</div>