<h4>Filter by any of the options below</h4>
<div class="row">
  <div class="col">
    {{input type="text" value=first_name class="form-control" placeholder="First Name"}}
  </div>
  <div class="col">
    {{input type="text" value=last_name class="form-control" placeholder="Last Name"}}
  </div>
  <div class="col">
    {{input type="text" value=years_as_customer class="form-control" placeholder="Years as Customer e.g 2"}}
  </div>
  <div class="col">
    {{input type="text" value=branch_name class="form-control" placeholder="Branch Name"}}
  </div>
  <div class="col">
    {{input type="text" class="form-control" placeholder="Province"}}
  </div>
</div>
<br />
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Joining Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each people as |person|}}
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.firstname}}</td>
        <td>{{person.lastname}}</td>
        <td>{{person.contact_number}}</td>
        <td>{{moment-format person.joining_date "DD-MM-YYYY"}}</td>
        <td>
          {{#link-to "people.person.details" person.id}} Details |{{/link-to}}
          {{#link-to "people.person.edit" person.id}} Edit |{{/link-to}}
          <a href="#" {{action "deletePerson" person}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to "people.new" class="btn btn-primary"}} New {{/link-to}}